.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

*.class
*.jar
*.war
*.ear

# Bundled JARs shipped with the Python package
!vb6-parser-python/resources/vb6parser.jar
!vb6-parser-python/vb6_parser/resources/vb6parser.jar

.settings/
.classpath
.project
bin/
build/
lib/
target/

**/proprietary/

.worktrees/
